<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Business German Lesson 1.1</h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /blue -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar-box">
                <img src="../assets/img/adventure/md-germany.jpg" class="img-responsive" alt="Rhineland">
            </div>
            <div class="sidebar-box">
                <h3>Teacher</h3>
                <div class="media">
                    <div class="media-left">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Jerilyn</a></h4>
                        <em>555-555-5555</em>
                        <a href="#"><i class="fa fa-envelope"></i> jerilyn@mailinator.com</a>
                        <img src="../assets/img/zoo-portraits/ocelot.jpg" alt="Jerilyn" style="border-radius: 50%">
                    </div>

                </div>
                <!--media-->
                <div class="media"></div>
                <!--sidebar box-->
            </div>
            <!--sidebar-->
        </div>
        <div class="col-md-9">
            <h4 class="title-section">Lesson 1.1: Business Etiquette</h4>
            <div id="target">
                <h3>{{GBController.item.title}}</h3>
                <p>{{GBController.item.details}}</p>
                <p>Minutes to complete course: {{GBController.item.minutes}}</p>
                <p>When doing business in Germany, it is never OK to be late. Germans value "puenktlichkeit" and it is also
                    inconvenient to show up too early. Make sure you are no more than 5-7 minutes early for any appointment
                    unless otherwise instructed, and even two minutes late is a major faux pas.</p>
                <p>When meeting a German associate, it is polite to say, "Schoen, Ihnen kennenzulearnen." This means, "Nice
                    to meet you." (Note that this is the formal, polite form of the second person singular). Your counterpart
                    may reply, "Ebenso," which in this context means "Likewise."</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <h4>Key Vocabulary and Phrases</h4>
                            <ul>
                                <li>"Danke." <em>Thank you.</em></li>
                                <li>"Schoen, Ihnen kennenzulernen." <em>Nice to meet you.</em></li>
                                <li>"Ich habe eienen Termin." <em>I have an appointment.</em></li>
                                <li>"Danke, dass Sie mir zuhoeren." <em>Thank you for listening to me.</em></li>
                            </ul>
                            <a ui-sref="german-business-quiz"><button style="background-color: yellow; border-radius: 10%;"><h4>Take Quiz</h4></button></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>