<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Student Profile</h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /blue -->
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="../assets/img/students/student1.jpg" alt="George Abernathy" style="border-radius:50%; height:200px; width:150px;">
            <h4>for: George </h4>
            <div class="row">
                <div class="col-md-6">
                    <h4><a ui-sref="user-profile">Back to Profile</a></h4>
                </div>
            </div>
        </div>
        <!--<h3 data-toggle="collapse" data-target="#courseCatalogue">View Course Catalogue</h3>
            <div class="collapse" id="courseCatalogue">
                <div class="col-md-9" ng-controller="CatalogueController as controller">
                    <div id="target" ng-repeat="course in controller.catalogue">
                        <h4>{{ course.name }}</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>-->
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h3>Current Course</h3>
            <h4><a ui-sref="german-business">Business German</a></h4>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!--end of row -->
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <h3>Current Quiz</h3>
            <h4><a ui-sref="german-business-quiz">Business German Quiz</a></h4>
        </div>
    </div>
    <!-- end of row -->
    <div class="col-xs-12" style="height:100px;"></div>
</div>
<!--end of container -->