<!--Services-->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="glyphicon glyphicon-user"></i>
                <h4>Connect with Nearby Users</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.</p>
                <p><br/><a ui-sref="nearby-users" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-pencil"></i>
                <h4>Choose Your Adventure</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.</p>
                <p><br/><a ui-sref="adventure" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-flag"></i>
                <h4>Preview German Course</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.</p>
                <p><br/><a ui-sref="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div>
</div>