<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Welcome to German</h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>Learn German</h3>
            <div>
                <img src="../assets/img/adventure/md-germany.jpg" alt="Rhineland">
            </div>
            <!--thumb slider-->

            <!--property meta-->
            <div>
                <h3>
                    Welcome to German through LinGO! We offer the following courses for this language:
                </h3>
                <h4><a ui-sref="german-business">Business German</a></h4>
                <p>Basic phrases and etiquette that you can use in business situations in Germany.</p>
                <h4><a ui-sref="german-leisure">Leisure German</a></h4>
                <p>Travel for pleasure through German-speaking countries, knowing that you can converse and find help with ease.
                </p>
                <h4><a ui-sref="german-luxury"> Luxury German</a></h4>
                <p>Treat yourself to special occasions in German-speaking countries, secure that you will be adept at navigating
                    sensitive social situations.</p>
            </div>
            <!--description-->

            <h3>Map</h3>
            <div style="width:100%">
                <img src="../assets/img/german/Modern-Germany-map.png" alt="German Map" style="margin-left:20%;">
            </div>
        </div>
        <!--content col-->
        <div class="col-md-3">
            <div class="sidebar-box">
                <h3>Why German?</h3>
                <img src="../assets/img/german/whygerman.png" alt="Why German?">
            </div>
            <!--sidebar box-->
            <div class="sidebar-box">
                <h3>Teachers and Tutors</h3>
                <div>
                    <div class="image">
                        <img src="../assets/img/zoo-portraits/otter.jpg" style="border-radius: 50%;">
                    </div>
                    <div class="media-body">
                        <h4><a ui-sref="#">Spunky</a></h4>
                        <em>555-555-5555</em>
                        <a ui-sref="#"><i class="fa fa-envelope"></i> spunky@mailinator.com</a>
                    </div>
                    <div class="image">
                        <img src="../assets/img/zoo-portraits/ocelot.jpg" style="border-radius: 50%;">
                    </div>
                    <div class="media-body">
                        <h4><a href="#">Jerilyn</a></h4>
                        <em>555-555-5555</em>
                        <a href="#"><i class="fa fa-envelope"></i>jerilyn@mailinator.com</a>
                    </div>
                </div>
                <!--media-->
            </div>
            <!--sidebar box-->
        </div>
        <!--sidebar-->
    </div>
    <div class="row">
        <div class="col-md-12" style="height: 100px;"></div>
    </div>
</div>